<!-- MAIN CONTENT -->
<div id="content">
<div class="row">
   <!-- <big-breadcrumbs items="['Systemic Map', 'Add new']" icon="table"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>-->
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
</div>


<div class="row">
</div>

<!-- widget grid -->
<section id="widget-grid" widget-grid>

<!-- START ROW -->
<div class="row">

<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-12">

<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false"
     data-widget-custombutton="false">
<!-- widget div-->
<div>

   <!-- widget content -->
    <div class="widget-body no-padding">

        <form class="smart-form">
            <header>
                Create Systemic Map 

            </header>

            <fieldset>
                <div class="row">
	                
                    <section class="col col-md-12">
                        <label class="input">
                            <input type="text" ng-model="sysMapData.name" placeholder="Name *">
                        </label>
                    </section> 	
                    
                    <section class="col col-md-6">
                        <label class="input">
                            <input type="text" ng-model="sysMapData.question" placeholder="Question *">
                        </label>
                    </section> 	
                    
                    <section class="col col-md-6">
                        <label class="input">
                            <input type="text" ng-model="sysMapData.proposal" placeholder="Action">
                        </label>
                    </section>			 
				   
                </div>

                <footer>
                <button type="submit" class="btn btn-primary" ng-click="sysMap()">
                    Create Systemic Map
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                    Back
                </button>
            </footer>
        </form>

    </div>
    <!-- end widget content -->

</div>
<!-- end widget div -->

</div>
<!-- end widget -->

</article>
<!-- END COL -->

</div>

<!-- END ROW -->

</section>
<!-- end widget grid -->


</div>
