<div id="content">
    <div class="row">
        <big-breadcrumbs items="['UI Elements', 'Tree View']" icon="desktop"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" data-widget-grid>
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div id="simple-view-widget" data-widget-editbutton="false" data-widget-color="blue" data-jarvis-widget>
                    <!-- widget options:
                    usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
                        <h2>Simple View </h2>
                    </header>
                    <a ng-click="testScope()">TESTYOLO</a>
                    <!-- widget div-->
                    <div>            <!-- widget content -->
                        <div class="widget-body">
                            <div class="tree smart-form">
                                <ul data-sys-maptree data-items="demoTree2" role="tree"></ul>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->


        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
