<!-- MAIN CONTENT -->
<div id="content" style="padding: 20px;
    background-color: #fff;">
    <div class="row">
        <big-breadcrumbs items="['Dashbord', 'Manage users']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <div style="margin-bottom:15px;">
        <a data-ui-sref="app.users.addnew">
            <button type="button" class="btn btn-labeled btn-primary">
		 <span class="btn-label">
		  <i class="glyphicon glyphicon-plus-sign"></i>
		 </span>Create New User
            </button>
        </a>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">

        <div class="row">
            <article class="col-sm-12">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th><i class="fa fa-building"></i> Name</th>
                            <th><i class="fa fa-calendar"></i> Surname</th>
                            <th><i class="fa fa-calendar"></i> Role</th>
                            <th><i class="fa fa-calendar"></i> Email</th>
                            <th><i class="fa fa-calendar"></i> Username</th>
                            <th><i class="fa fa-calendar"></i> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in usersData">
                            <td>{{user.id}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.role}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td>
                                <a class="fa fa-lg fa-trash-o" ng-click="deleteUser(user.id)"></a>
                                <a class="fa fa-lg fa-pencil-square-o" ui-sref="app.users.edit({userId : user.id})"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </article>
        </div>

    </section>
</div>
