<div class="dialog-contents app-pis">
    <div class="dialog-header">
    </div>
    <div class="col-md-12">
        <h3><b>Welcome to the Organizational Learning Survey!</b></h3>
        <div>
            <p>
                This survey* contains 29 statements regarding the Organizational Learning
                capacity of your organization which will take approximately 10 minutes to
                complete.
            </p>
            <p>
                The possible answers range from 1 to 5 indicating your level of agreement
                with each of the statements.
                The range goes from 1: Totally Disagree (indicating that the statement is
                never true) to 5: Totally Agree (indicating that the statement is always true).
                ‘Agree’ indicates that the statement is most of the times true, ‘Neither agree
                nor disagree’ indicate that the statement sometimes is true and sometimes
                not, while ‘Disagree’ indicates that the statement most of the times is not true.
            </p>
            <p>
                Please select the answer that better fits your current experience in your
                organization and make sure you respond to all the questions.
            </p>
            <p>
                Furthermore, there are some demographic questions regarding information on
                the type and form of your organization at the beginning.
            </p>
            <p>
                All the information that you provide us will remain anonymous and we will
                never share your data.
            </p>
            <p>
                Thank you for your participation!
            </p>
            <form id="pis_agree">
                <div class="checkbox">
                    <label><input type="checkbox" value="">&nbsp;&nbsp;I agree.</label>
                </div>
            </form>


        </div>
    </div>

    <div class="ngdialog-buttons">
        <button type="button" data-ng-click="addPIS()" class="btn btn-primary">Submit</button>
        <button type="button" data-ng-click="closeThisDialog()" class="btn btn-default f-right">Cancel</button>
    </div>
</div>
