<div id="content">
    <div class="row">
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <div style="margin-bottom:15px;"></div>
    <!-- widget grid -->
    <section id="widget-grid" data-widget-grid>
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12" style="padding: 20px; background-color: #fff;">
                <header>
                    <h1>OLSET {{processYear}}</h1>
                    <br>
                    <h2> Steps for {{olsetProcessData.title}}</h2>


                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="table-responsive" style="padding:13px;">
                            <div class="col-md-12 m-t-5">
                                <center><h2>Initial Survey</h2></center>
                                <div data-ng-if="openInitial">
                                    <a data-ui-sref="app.olset.evaluation({evaluationId : olsetProcessData.step0})"
                                       class="btn btn-primary btn-lg btn-block">
                                        Initial  Survey >>
                                    </a>
                                </div>
                                <div ng-if="!openInitial">
                                    <a href="javascript:void 0"
                                       class="btn btn-primary btn-lg btn-block">
                                        Initial  Survey >>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-5">
                                <center><h2>Step 0</h2></center>
                                <center><img src="/styles/img/banners/b2.png" width="250"></center>

                                <div data-ng-if="isManager || isAdmin" class="col-md-12 m-t-5">
                                    <div data-ng-if="openCRS">
                                        <a data-ui-sref="app.olset.evaluation({evaluationId : olsetProcessData.reality})"
                                           class="btn btn-primary btn-lg btn-block">
                                            Current Reality Survey >>
                                        </a>
                                    </div>
                                    <div data-ng-if="!openCRS">
                                        <a href="javascript:void 0"
                                           class="btn btn-primary btn-lg btn-block">
                                            Current Reality Survey >>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12" id="block_cr">
                                    <h3>Current Reality</h3>
                                    <div id="current_reality_input">
                                        <form id="current_reality_form">
                                            <textarea class="w-100" rows="7" id="current_reality_editor">
                                                {{olsetProcessData.CurrentReality}}
                                            </textarea>
                                            <br>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-12  m-t-5 m-b-5" id="block_sv">
                                    <h3>Shared Vision</h3>
                                    <div id="shared vision_input">
                                        <form id="shared_vision_form">
                                            <textarea class="w-100" rows="7" id="shared_vision_editor">
                                                {{olsetProcessData.SharedVision}}
                                            </textarea>
                                            <br>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </form>
                                    </div>
                                </div>

                                <div data-ng-if="isManager || isAdmin" class="col-md-12 m-t-5">
                                    <div data-ng-if="openVS">
                                        <a data-ui-sref="app.olset.evaluation({evaluationId : olsetProcessData.vision})"
                                           class="btn btn-primary btn-lg btn-block">
                                            Vision Survey >>
                                        </a>
                                    </div>
                                    <div data-ng-if="!openVS">
                                        <a href="javascript:void 0"
                                           class="btn btn-primary btn-lg btn-block">
                                            Vision Survey >>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12  m-t-5" id="block_ii">
                                    <h3>Initial Intentions</h3>
                                    <div id="initial_intentions_input">
                                        <form id="initial_intentions_form">
                                            <textarea class="w-100" rows="7" id="initial_intentions_editor">
                                                {{olsetProcessData.InitialIntentions}}
                                            </textarea>
                                            <br>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12  m-t-5" data-ssm="{{openSSM}}">
                                <center><h2>Step 1: Understand</h2></center>
                                <center><img src="/styles/img/banners/b3.png" class="m-b-5" width="250"></center>
                                <div data-ng-if="openSSM">
                                    <a data-ui-sref="app.ssm.manager.process({processId : processId})"
                                       class="btn btn-primary btn-lg btn-block">
                                        Systemic Structure Map >>
                                    </a>
                                </div>
                                <div data-ng-if="!openSSM">
                                    <a href="javascript:void 0"
                                       class="btn btn-primary btn-lg btn-block">
                                        Systemic Structure Map >>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-12 m-t-5">
                                <center><h2>Step 2: Design and Implement</h2></center>
                                <center><img src="/styles/img/banners/b4.png" class="m-b-5" width="250"></center>
                                <div data-ng-if="openSAM">
                                    <a data-ui-sref="app.sysmap.manager.process({processId : processId})"
                                       class="btn btn-primary btn-lg btn-block">
                                        Systemic Action Map >>
                                    </a>
                                </div>
                                <div data-ng-if="!openSAM">
                                    <a href="javascript:void 0"
                                       class="btn btn-primary btn-lg btn-block">
                                        Systemic Action Map >>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-5">
                                <center><h2>Step 3: Self-Evaluate</h2></center>
                                <center><img src="/styles/img/banners/b5.png" class="m-b-5" width="250"></center>
                                <div class="col-md-12">
                                    <div data-ng-if="openEvaluation">
                                        <a data-ui-sref="app.olset.evaluation({evaluationId : olsetProcessData.step3_0})"
                                           class="btn btn-primary btn-lg btn-block">
                                            Evaluation Survey >>
                                        </a>
                                    </div>
                                    <div data-ng-if="!openEvaluation">
                                        <a href="javascript:void 0"
                                           class="btn btn-primary btn-lg btn-block">
                                            Evaluation Survey >>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12 m-b-5">
                                    <h2>After Action Review for Process</h2>
                                    <div data-ng-if="openAAR">
                                        <a data-ui-sref="app.olset.evaluation({evaluationId : olsetProcessData.step3_1})"
                                           class="btn btn-primary btn-lg btn-block">
                                            After Action Review >>
                                        </a>
                                    </div>
                                    <div data-ng-if="!openAAR">
                                        <a href="javascript:void 0"
                                           class="btn btn-primary btn-lg btn-block">
                                            After Action Review >>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <hr class="hr-visible"/>
                            <div class="col-md-12 m-t-5">
                                <center><h2>After Action Review for Actions</h2></center>
                                <div data-ng-if="openItemsAAR">
                                    <a href="javascript:void 0"
                                       data-ng-click="openModalAAR(processId)"
                                       class="btn btn-primary btn-lg btn-block">
                                        After Action Review >>
                                    </a>
                                </div>
                                <div data-ng-if="!openItemsAAR">
                                    <a href="javascript:void 0"
                                       class="btn btn-primary btn-lg btn-block">
                                        After Action Review >>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <div class="row">
            </div>
            <!-- end row -->
        </div>
    </section>
    <!-- end widget grid -->
</div>