<div id="content">
    <div class="row">
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <div style="margin-bottom:15px;">

    </div>
    <!-- widget grid -->
    <section id="widget-grid" data-widget-grid>
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12" style="padding: 20px; background-color: #fff;">
                <header>
                    <h2>OLSET OMS BETA</h2>
                </header>
                <div>
                    <div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse1"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; OLSET Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            We are sorry but our Cambridge Strategy Audits are still under development.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse2"><span
                                                class="glyphicon glyphicon-plus"></span>
                                            &nbsp;&nbsp; The Strategic Marketing Plan Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            A detailed, top management review of every aspect of your company’s
                                            marketing strategy.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse3"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Pricing Strategy Audit
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An in-company assessment to help create the best possible pricing
                                            strategy for your organisation.

                                            <a href="info@olset.org">Contact us</a>
                                            for more information and to order</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse4"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Franchising Audit
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A complete self-assessment framework to measure
                                            the likely success of an existing or planned franchise initiative.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse5"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Customer Support Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>The tools to measure and monitor your company's
                                            customer service and after-sales support programme.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse6"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Customer Loyalty Audit
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 7-step audit to determine how well-equipped
                                            you are to win and retain customer loyalty.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse7"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Training and Development Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An 8-step audit to measure, assess and enhance
                                            the way your organisation trains and develops its people.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse8"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Teams Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 7-step approach to evaluating how well
                                            your organisation supports and sustains teams and teamworking.
                                            <a href="info@olset.org">Contact us</a>
                                            for more information and to order.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse9"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Reward and Benefits Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An 8-step audit to ensure that your company can attract,
                                            retain and motivate the quality of people it needs to achieve
                                            its business goals.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse10"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Performance Management Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An 8-step audit to help analyse, develop and improve
                                            performance management processes so your organisation achieves
                                            its business goals.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse11"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The People Policies Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse11" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            A 7-step audit to determine the people policies necessary
                                            to achieve your organisation’s operational and strategic goals.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse12"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Payroll Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse12" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 6-step audit to evaluate and improve the effectiveness of the payroll
                                            function.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse13"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp
                                            The Organisational Change Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse13" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A guide to designing, implementing and evaluating organisational
                                            change initiatives in your organisation.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse14"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Human Resource Planning Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse14" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 6-Step audit to help analyse, estimate and meet your organisation’s
                                            staff and workforce needs.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse15"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Human Resource Function Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse15" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>The tools to review, measure and assess the role, contribution
                                            and performance of your organisation’s HR function.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse16"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Employee Motivation Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse16" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An 8-step audit to determine how well-equipped you are to win and
                                            retain employee commitment.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse17"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Productivity Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse17" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An in-company self-assessment to identify key areas where productivity
                                            improvements can be achieved.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse18"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Partnership and Alliances Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse18" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A structured assessment of your company's existing and proposed joint
                                            ventures and partnerships.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse19"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Organisation Shadow-Side Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse19" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A guide to understanding and managing rivalries, ambition, greed,
                                            intimidation and office politics in your organisation.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse20"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Organisational Leadership Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse20" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 6-step business improvement tool to help organisations build an effective
                                            leadership structure and culture.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse21"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Customer Satisfaction Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse21" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An 8-step approach to ensure that your organisation stays focused
                                            on customer needs.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse22"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Cost of Quality Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse22" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A management toolkit to drive down the cost of errors, inefficiency,
                                            waste and rework in your organisation.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse23"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Corporate Culture Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse23" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 5-step approach to evaluating your organisational culture
                                            – then harnessing that culture to win competitive advantage.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse24"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Business Strategy Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse24" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A company self-appraisal to analyse the effectiveness of your business
                                            strategy and your strategy-making process.
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="btn btn-link app-button"
                                           data-parent="#accordion" href="#collapse25"><span
                                                class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
                                            The Business Innovation Audit</a>
                                    </h4>
                                </div>
                                <div id="collapse25" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A 10-step business self-assessment tool to help assess, expand and
                                            release your organisation’s innovating potential!
                                            <a href="info@olset.org">Contact us</a> for more information and to order.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>