<div id="content" oncontextmenu="return false;">
    <div class="row">
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <div style="margin-bottom:15px;">

    </div>
    <!-- widget grid -->
    <section id="widget-grid" data-widget-grid>
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12" style="padding: 20px; background-color: #fff;">
                <header>
                    <h2>OLSET OMS BETA</h2>
                </header>
                <div>
                    <iframe src="/styles/pdf/omc.pdf#toolbar=0" id="pdf_frame"  class="app-pdf-iframe app-print-hide">
                    </iframe>
                    <!--<img src="/styles/pdf/ccw.png" id="png_frame"  class="app-pdf-img" />-->
                </div>
        </article>
        </div>
        <div class="row">
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>